@import "_variables.scss";
.cartView {
}
.cartView__form {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
}
.cartView__box {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #cccccc;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba($color: #111111, $alpha: 0.07);
  margin: 5px 0;
  padding-bottom: 10px;
}
.cartView__cart {
}
.cartView__shippingDetails {
}
.cartView__shippingMethod {
}
.cartView__paymentMethod {
}
.cartView__message {
}
.cartView__copy {
}
.cartView__summary {
}
.cartView__header {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  width: 100%;
  position: relative;
  padding: 10px 15px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #dfdfdf;
    width: 95%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.cartView__product {
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "img name price"
    "img quantity buttons";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 30% 1fr 110px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 5px;
}
.cartView__btns {
  grid-area: buttons;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartView__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f9f5ea;
  border: none;
  height: 50px;
  width: 50px;
  g path,
  g rect,
  g line {
    stroke: $mainOrange;
  }
}
.cartView__imgBox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  grid-area: img;
  img {
    width: 100%;
  }
}
.cartView__productPrice {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 600;
  color: $mainOrange;
  grid-area: price;
}
.cartView__productName {
  color: #402e32;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 1.9rem;
  grid-area: name;
  padding: 5px;
}
.cartView__productQuantity {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  height: 50px;
  width: 90px;
  color: #dfe0df;
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  line-height: 2.2rem;
  appearance: none;
  grid-area: quantity;
}
.cartView__field {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.cartView__label {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;
  border-radius: 2px;
  color: #402e32;
  padding: 5px;
}
.cartView__input {
  border: 1px solid #dddddd;
  width: 100%;
  height: 50px;
  padding: 5px;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.cartView__shippingMethod,
.cartView__paymentMethod {
  align-items: flex-start;
}
.cartView__radioField {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 3%;
}
.cartView__shipmentPrice {
  color: #dfe0df;
  font-size: 1.4rem;
  line-height: 1.9rem;
}
.cartView__radio {
  border: 1px solid #bbbbbb;
  height: 16px;
  width: 16px;
}
.cartView__message {
  label {
    align-self: flex-start;
    margin-left: 5%;
  }
}
.cartView__textarea {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #bbbbbb;
}
.cartView__copy {
  justify-content: center;
  padding: 10px;
  color: #dfe0df;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-family: "Inter", sans-serif;
}
.cartView__summaryContainer {
  border-bottom: 1px solid #dddddd;
  width: 95%;
  margin: 0 auto;
  padding: 15px 0;
  color: #402e32;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cartView__summaryField {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.cartView__method {
  color: orange;
  font-weight: 600;
  font-size: 1.2rem;
}
.cartView__summaryName {
  width: 33%;
}
.cartView__summaryQuantity {
}
.cartView__summaryPrice {
  width: 33%;
  text-align: right;
}
.cartView__summaryRight {
}
.cartView__summaryLeft {
}
.cartView__summaryBtn {
  width: 95%;
  margin: 10px auto;
}
.cartView__finalPrice {
  color: $mainOrange;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 10px;
  margin-top: 10px;
}
@media (min-width: 375px) {
  .cartView__box {
    width: 95vw;
    margin: 10px auto;
  }
}
@media (orientation: landscape) {
  .cartView__box,
  .cartView__form {
    max-width: 660px;
  }
  .cartView__product {
    grid-template-areas: "img name price quantity buttons";
    grid-template-rows: 1fr;
    grid-template-columns: 30% 1fr 1fr 120px 110px;
    padding: 0 1%;
  }
}
@media (min-width: 1280px) {
  .cartView {
    padding-top: 20px;
    width: 90vw;
    margin: 0 auto;
    max-width: 1450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cartView__header {
    padding: 20px 15px;
  }
  .cartView__box {
    max-width: 595px;
    margin: 10px 0;
  }
  .cartView__form {
    margin: 0;
  }
  .cartView__summary {
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1600px) {
  .cartView__product {
    padding: 0 15px;
  }
  .cartView__box {
    max-width: 700px;
    margin: 10px 0;
  }
  .cartView__form {
    margin: 0;
  }
  .cartView__summary {
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
