@import '_variables.scss';

//DROPDOWN
.dropdown {
  position: relative;
}
.dropdown-content {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 98;
  min-width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s;
  opacity: 1;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  z-index: 98;
}
.navigation__category:focus .dropdown-content {
  visibility: visible;
  opacity: 1;
}

//BURGER\
.navigation__mobileLogo {
  position: fixed;
  top: 5vh;
  left: 1vw;
  transform: translateY(-50%);
  padding: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__hamburgerBtn {
  z-index: 99;
  width: 9vw;
  position: fixed;
  top: 5vh;
  right: 5vw;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:after,
  &:before,
  div {
    background-color: $mainOrange;
    border-radius: 3px;
    content: '';
    display: block;
    height: 3px;
    margin: 8px 0;
    box-shadow: 0 1px 1px black;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  &:focus {
    outline: none;
  }
}
.navigation__hamburgerBtn--active {
  &:before {
    background-color: $mainOrange;
    box-shadow: 0 0 0 transparent;
    transform: translateY(12px) rotate(135deg);
    -webkit-transform: translateY(12px) rotate(135deg);
    -moz-transform: translateY(12px) rotate(135deg);
    -ms-transform: translateY(12px) rotate(135deg);
    -o-transform: translateY(12px) rotate(135deg);
  }

  &:after {
    background-color: $mainOrange;
    box-shadow: 0 0 0 transparent;
    transform: translateY(-10px) rotate(-135deg);
    -webkit-transform: translateY(-10px) rotate(-135deg);
    -moz-transform: translateY(-10px) rotate(-135deg);
    -ms-transform: translateY(-10px) rotate(-135deg);
    -o-transform: translateY(-10px) rotate(-135deg);
  }

  & div {
    background-color: $mainOrange;
    box-shadow: 0 0 0 transparent;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}

.navigation {
  position: fixed;
  left: 0;
  top: -200vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 5vh;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 90;
  overflow-y: scroll;
  &--active {
    transform: translateY(200vh);
  }
}
.navigation__mainBar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation__logo {
  margin-left: 3%;
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__logoLink {
  cursor: pointer;
}
.logo_image {
  height: 30px;
}
ul {
  list-style-type: none;
}
.navigation__innerNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navigation__innerNavItem {
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__innerNavLink {
  text-decoration: none;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #fff;
}

.navigation__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navigation__userProfile {
  height: 40px;
  line-height: 2.5rem;
  font-size: 1.6rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  &:hover {
    filter: brightness(1.05);
    cursor: pointer;
  }
}
.navigation__cart {
  margin-right: 5px;
  path,
  rect {
    stroke: #fff;
  }
}
.navigation__pointer {
  position: absolute;
  right: 10%;
  height: 20px;
}
///////////////////////////////////////////////////////////
.navigation__categoriesLink {
  width: 100%;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  // margin-top: 25px;
}
.navigation__categories {
  display: none;
}
// MEDIA

@media (orientation: landscape) {
  .navigation__hamburgerBtn {
    width: 5vw;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  .navigation__hamburgerBtn,
  .navigation__mobileLogo {
    display: none;
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  .navigation__hamburgerBtn {
    width: 5vw;
  }
}

@media (min-width: 1024px) {
  .navigation__hamburgerBtn,
  .navigation__mobileLogo {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1600px;
    min-height: 0;
    height: auto;
    overflow-y: visible;
    margin: 5vh auto 0 auto;
    padding: 0;
    top: 0;
    position: relative;
    transform: translateY(0);
  }
  .navigation__mainBar {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(17, 17, 17, 0.07);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .navigation__logo {
    margin-left: 3%;
    padding: 5px;
  }
  .navigation__logoLink {
    cursor: pointer;
  }
  .logo_image {
    height: 40px;
  }

  .navigation__innerNav {
    flex-direction: row;
    width: 30%;
    margin-left: 10%;
  }
  .navigation__innerNavItem {
    padding: 10px;
  }
  .navigation__innerNavLink {
    text-transform: unset;
    font-size: 1.4rem;
  }
  .navigation__buttons {
    flex-direction: row;
    margin-right: 3%;
    height: auto;
  }
  .navigation__userProfile {
    background-color: $secondOrange;
    border: 1px solid $secondOrange;
    box-shadow: 0 1px 3px rgba(17, 17, 17, 0.11);
    margin-right: 10px;
  }
  .navigation__pointer {
    display: none;
  }

  .navigation__categoriesLink {
    display: none;
  }
  .navigation__categories {
    width: 100%;
    height: 100%;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(17, 17, 17, 0.07);
    min-height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation__categoriesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .navigation__category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 10px;
    width: 16%;
    &:hover {
      background-color: $secondOrange;
    }
    &:hover > .dropdown-icon {
      opacity: 0;
    }
  }
  .navigation__link::first-letter {
    text-transform: uppercase;
  }
  .navigation__link {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
  }
  .navigation__dropdownLi {
    padding: 10px;
    &:hover {
      background-color: $secondOrange;
    }
    &:hover * {
      transform: translateX(5px);
    }
  }
  .navigation__dropdownLink {
    text-decoration: none;
    color: #000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.2rem;
  }
}
@media (min-width: 1145px) {
  .navigation__link {
    font-size: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .navigation__link {
    font-size: 1.6rem;
  }
}
@media (min-width: 1626px) {
  .navigation__category {
    min-width: 16%;
  }
}
