.loginPanel {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  width: 85%;
  height: 50px;
  max-width: 300px;
  transition: 0.2s;
  &--active {
    height: 150px;
    flex-direction: column;
  }
  .btn {
    text-decoration: none;
    margin: 0 5px;
    text-align: center;
  }
}
.loginPanel__panelField {
  height: 100%;
  input {
    border: 1px solid #f6eddb;
    border-radius: 2px;
    height: 40px;
    color: #aaa;
    padding: 5px 10px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .loginPanel {
    flex-direction: row;
    height: 50%;
    margin-right: 3%;
    width: auto;
  }
  .loginPanel__panelField {
    input {
      max-width: 120px;
    }
  }
}
