.home__products {
  width: 80vw;

  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
@media (orientation: portrait) and(min-width: 768px) {
  .home__products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 90vw;
    max-width: 1200px;
  }
  .home__products {
    .addBanner {
      margin: 20px auto;
    }
  }
}
@media (orientation: landscape) and(min-width:1024px) {
  .home__products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 90vw;
    max-width: 1200px;
  }
  .home__products {
    .addBanner {
      margin: 20px auto;
    }
  }
}
