@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,600;0,800;1,500;1,600&family=Poppins:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
.btn {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  border: 2px solid $mainOrange;
  border-radius: 2px;
  padding: 5px 10px;
  background-color: $mainOrange;
  box-shadow: 0 1px 3px rgba(17, 17, 17, 0.11);

  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }
}
