.searchBar {
  width: 280px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 50px;
  background-color: #fff;
  display: flex;
  margin: 10px auto;
}
.searchBar__label {
  display: none;
}
.searchBar__input {
  display: flex;
  align-items: center;
  border: none;
  height: 100%;
  width: 85%;
  padding-left: 10px;
  &::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 1.7rem;
    line-height: 5rem;
    color: #dfe0df;
  }
}
.searchBar__btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
  width: 15%;
}
